backend/src/config/serviceAccountKey.json

backend/.env
backend/src/config/.env 
careerwave-*.log
backend/logs/

.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel
