services:
  - type: web
    name: careerwave-backend
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 8080
      - key: NODE_ENV
        value: production
    plan: free
